*{text-decoration: none;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}
h2{ margin-left: 68px;
    padding: 30px;
    /* margin-top: 30px; */
    font-size: 28px;
    color: #6e6e73;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    font-size: smaller;

}
.nav a{
    text-decoration: none;
    color: black;
}
.section{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
   
}
h1{
    line-height: 45px;
    font-weight: 600;
    margin-left: 80px;
    font-size: 47px;
    color: #6e6e73;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.str{
    color: black;
}
.right{
    width: 50vh;
    display: flex;
    margin-right: 30px;
    line-height: 2px;
    padding-top: 25px;
    padding-right: 20px;
}
.text{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}
.right a{
    text-decoration: none;
    color: blue;
}
.right1{
    display: flex;    
}
.section1{
    display: flex;
    flex-direction: column;
}.img2{
    margin-top: 28px;

}

.section2{
    overflow: scroll;
    overflow-y: hidden;
    gap: 20px;
    display: flex;
    flex-direction: row;
    padding: 60px;
    padding-left: 90px;
    margin-left: 80px;
    text-align: center;
    justify-content: space-around;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.items{
    display: flex;
    flex-direction: column;
    margin: auto;
    gap:10px;
}
.section2 a{
    text-decoration: none;
    color: black;
}
.section2 img{
    height: 80px;
    width: 120px;
}
.sec span{
    color: black;
}
.section3 img{
    border-radius: 20px;
    margin: 10px;
   
}
.section3{
    display: flex;
    padding-left: 70px;
    margin-left: 20px;
}
.sub{
    display: flex;
    flex-direction: column;
}
.texts{
    margin-top: -489;
    padding: 20px;
    color: white;
    padding-left: 30px;
}
.section3 a{
    text-decoration: none;
}
.visionpro{
    color: black;
}
.help span{
    color: black;
}
.help h2{
    margin-top: 50vh;
}
.section4{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    height: 500px;
    width: 100%;
   margin-left: 60px;

}
.section4 img{
   height: 500px;
   border-radius: 20px;
}
.sub4text{
    margin-top: -467px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 0;
}
.section4 h2{
    color: black;
    margin-top: 1px;
    padding-top: 0px;
    margin-left: 2px;
}
.section4 span{
    color: #6e6e73;
    margin-left: 32px;
    margin-top: 5px;
}









